<div class="image-container checked" style="align-items: center">
  <div class="image-content">
    <img class="imazip-image" src="<%= url %>">
  </div>
  <div class="image-meta-container">
    <div>
      <span class="image-size-width-label"></span> x
      <span class="image-size-height-label"></span>
    </div>
    <div class="image-url-container">
      <a class="image-url" target="_blank" href="<%= url %>"><%= url %></a>
    </div>
  </div>
</div>
