<div class="filter-item">
  <div><%= converter.name %></div>
  <div>
    対象のページ
    <select>
      <option val="string">文字列</option>
      <option val="regexp">正規表現</option>
    </select>
    <input type="text" />
  </div>
  <div>
    <textarea></textarea>
  </div>
</div>
